# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Temporary files
*.tmp
*.temptest_data_1.txt
